body{ font-size: 16px;}

.principal{background-color: grey;
    text-align: center;}

.negrito{color: red;}

.benefício{text-align: center;}

.imagem-beneficios{width: 50%;}

.imagem{width: 100%;}

.título{padding: 20px;}

.lista{display: inline-block;
vertical-align: top;}
